@import url('https://fonts.googleapis.com/css2?family=Rubik+Bubbles&family=Story+Script&display=swap');

body {
  background-color: #b34448;
  background-image: url('IMG_4150.jpeg');
  background-size: cover;
  font-family: "Story Script", sans-serif;
  color: white;
  display: flex;
    flex-wrap: wrap;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Rubik Bubbles", sans-serif;
}


a {
  color: white;
}

a:visited {
  text-decoration: line-through;
  color: rgba(255,255,255,.5);
}

section.main {
    flex: 3;
    padding: 20px;
    box-sizing: border-box;
}

/* Aside - 25% width on desktop */
aside {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
}

/* Responsive behavior */
@media (max-width: 768px) {
    body {
        flex-direction: column;
    }

    section.main,
    aside {
        flex: 100%;
    }
}
